/* You can add global styles to this file, and also import other style files */

#page-title {
	text-align: center;
}

#center-table {
	margin: auto;
}

#center-column {
	text-align: center;
	margin: auto;
}

#people-column {
	width: 30%;
	margin: auto;
}

table {
	font-family: arial, sans-serif;
	border-collapse: collapse;
	width: 30%;
}

th, td {
	border: 1px solid #000000;
	padding: 8px;
}

th {
	text-align: center;
}
  
td {
	text-align: left;
}

// Alternating table row colors
tr:nth-child(even) {
	background-color: #dddddd;
}

// Second column of table has right aligned text
td:nth-child(2) {
	text-align: right;
}

#planet-lists {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	width: 70%;
	margin: auto;
}

#list-title {
	padding-top: 20px;
}

#list-item {
	text-align: left;
}