<div *ngIf="planet$ | async as planet; else loading">
    <h1>
        {{planet.name}}
    </h1>
    <table>
        <tr>
            <th colspan="3">Planetary Facts</th>
        </tr>
        <tr>
            <td>Diameter</td>
            <td>{{planet.diameter}} km</td>
        </tr>
        <tr>
            <td>Rotation Period</td>
            <td>{{planet.rotation_period}} Hours</td>
        </tr>
        <tr>
            <td>Orbital Period</td>
            <td>{{planet.orbital_period}} Days</td>
        </tr>
        <tr>
            <td>Population</td>
            <td>{{planet.population}}</td>
        </tr>
        <tr>
            <td>Climate</td>
            <td>{{planet.climate}}</td>
        </tr>
        <tr>
            <td>Terrain</td>
            <td>{{planet.terrain}}</td>
        </tr>
        <tr>
            <td>Surface Water %</td>
            <td>{{planet.surface_water}}%</td>
        </tr>
    </table>

    <h3>Notable Residents</h3>
    <ol>
        <li *ngFor="let resident of planet.residents">
            <app-name-list [id]="resident | toId"></app-name-list>
        </li>
    </ol>

    <h3>Appearances in Films</h3>
    <ol>
        <li *ngFor="let film of planet.films">
            <a [routerLink]="[film]">{{ film }}</a>
        </li>
    </ol>

</div>

<ng-template #loading>
    <p>Fetching Planet</p>
</ng-template>
