table {
	font-family: arial, sans-serif;
	border-collapse: collapse;
	width: 50%;
}

th, td {
	border: 1px solid #000000;
	padding: 8px;
}

th {
	text-align: center;
}
  
td {
	text-align: left;
}

tr:nth-child(even) {
	background-color: #dddddd;
}